@{
	ViewData["Title"] = "Табель";
}

<div class="container mt-3">
	<div class="row">
		<div class="col-md-10 mb-3">
            <table class="table table-hover table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>Тип работ</th>
                        <th>Таб №</th>
                        <th>Отр.час</th>
                        <th>ФИО</th>
                        <th>Уч</th>
                        <th>Код опл.</th>
                        <th>Н.час</th>
                        <th>% вып.</th>
                        <th>Сумма по нар.</th>
                        <th>Премия</th>
                        <th>Всего</th>
                        <th>Ср-час. зар.</th>
                    </tr>
                </thead>
                <tbody>
                    
                    </tr>
                </tbody>
            </table>
		</div>
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-end position-fixed mt-3">
                <button class="btn btn-outline"><i class="bi bi-printer"></i> Печать табеля</button>
                <button class="btn btn-outline"><i class="bi bi-printer"></i> Печать справки по профессиям</button>
                <button class="btn btn-outline"><i class="bi bi-file-earmark-text"></i> Формирование полного отчета</button>
                <button class="btn btn-outline"><i class="bi bi-clock"></i> Подключение отработанных часов</button>
            </div>
	    </div>
    </div>
</div>